<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @jail.banner_url %>')">
  <h1><%= @jail.name %></h1>
</div>

<div class="container">
  <div class="row">
    <% @jail.killers.each do |killer| %>
      <div class="col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= killer.image_url %>');">
           <div class="card-tags">
            <% killer.categories.each do |category| %>
              <span>
                <%= category.name %>
              </span>
            <% end %>
          </div>

          <div class="card-description">
            <h2><%= killer.name %></h2>
          </div>
          <%= link_to "+", killer_path(killer), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
